<!DOCTYPE html>
<html>
  <head>
    <title>Really Smart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content="Really Smart Website" />
    <meta name="title" property="og:title" content="Really Smart" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://raw.githubusercontent.com/thedaebu/reallysmart/main/public/screenshot.png" />
    <meta name="description" property="og:description" content="Really Smart Website" />
    <meta name="author" content="Edward Kim" />

    <link rel="shortcut icon" type="image/jpg" href="<%=  image_url('favicon.jpg') %>">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">   

    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Ubuntu+Condensed&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400&display=swap" rel="stylesheet"> 

    <script type="text/javascript">
      window.fireIcon = "<%= image_url('fire_icon.png') %>";
    </script>

    <script type="text/javascript">
      window.eyeIcon = "<%= image_url('eye_icon.png') %>";
    </script>

    <script type="text/javascript">
      window.github = "<%= image_url('github.jpg') %>";
    </script>

    <script type="text/javascript">
      window.linkedin = "<%= image_url('linkedin.jpg') %>";
    </script>

    <script type="text/javascript">
      window.angellist = "<%= image_url('angellist.jpg') %>";
    </script>

    <script type="text/javascript">
      window.website = "<%= image_url('website.jpg') %>";
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
