<!DOCTYPE html>
<html>
  <head>
    <title>Really Smart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">   

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    
    <link href="//db.onlinewebfonts.com/c/615ebd2bd72c443cdfe3991532f0df4f?family=Programme+Regular" rel="stylesheet" type="text/css"/> 

    <link href="//db.onlinewebfonts.com/c/a9119a625b812f862b623442195661ff?family=Programme+Light" rel="stylesheet" type="text/css"/>

    <script type="text/javascript">
      window.fireIcon = "<%= image_url('fire_icon.png') %>";
    </script>

    <script type="text/javascript">
      window.eyeIcon = "<%= image_url('eye_icon.png') %>";
    </script>

    <script type="text/javascript">
      window.github = "<%= image_url('github.jpg') %>";
    </script>

    <script type="text/javascript">
      window.linkedin = "<%= image_url('linkedin.jpg') %>";
    </script>

    <script type="text/javascript">
      window.youtube = "<%= image_url('youtube.jpg') %>";
    </script>

    <script type="text/javascript">
      window.instagram = "<%= image_url('instagram.jpg') %>";
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
